

<h1>Kullanılmıyor</h1>

<!--
<h1>Listing orders</h1>

<%= link_to 'New Order', new_order_path %>

<table>
  <tr>
    <th>Masa No</th>
    <th>Order</th>
    <th>Price</th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.masa_no %></td>
        <td><%= order.order %></td>
        <td><%= order.price %></td>
        <td><%= link_to 'Show', order_path(order) %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order_path(order),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

-->