<h1>Listing Tables</h1>

<%= link_to 'New Table', new_table_path %>

<table border="1">
  <tr>
    <th>Masa No</th>

  </tr>

  <% @tables.each do |table| %>
      <tr>
        <td><%= table.masa_no %></td>

        <td><%= link_to 'Show', order_path(table.masa_no) %></td>
        <td><%= link_to 'Edit', edit_table_path(table) %></td>
        <td><%= link_to 'Destroy', table_path(table),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>